* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.wrapper {
  padding-left: 30px;
}

.w-100 {
  position: relative;
}

.subpage-title {
  color: grey;
  font-size: 0.6rem;
  text-transform: uppercase;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .subpage-title {
    padding-left: 40px;
  }
}

.above-fold {
  background: url(../img/curve-1.svg), linear-gradient(15deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), linear-gradient(15deg, rgba(17, 22, 29, 0.3), rgba(17, 22, 29, 0.3)), url(img/beverage-books-caffeine-904616.jpg);
  background-repeat: no-repeat;
  background-position: right 0px, center, center, bottom;
  background-size: cover;
  height: 80vh;
  position: relative;
}

@media (min-width: 768px) {
  .above-fold {
    background: url(../img/curve-2.svg), url(../img/curve-1.svg), linear-gradient(15deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), linear-gradient(15deg, rgba(17, 22, 29, 0.3), rgba(17, 22, 29, 0.3)), url(img/beverage-books-caffeine-904616.jpg);
    background-repeat: no-repeat;
    background-position: left 10px, right 0px, center, center, bottom;
    background-size: cover;
    height: 95vh;
    position: relative;
  }
}

.above-fold .tag-right {
  color: white;
  position: absolute;
  right: -60px;
  top: 300px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.5em;
}

.above-fold .tag-right::before {
  content: "";
  position: absolute;
  background-color: #cc171e;
  width: 3px;
  height: 13px;
  top: 0px;
  left: -15px;
}

.above-fold .tag-left {
  color: white;
  position: absolute;
  top: 620px;
  left: -40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.5em;
  font-weight: bold;
}

#logo {
  background-color: #cc171e;
  left: -20px;
  top: 220px;
  padding: 20px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: white;
}

#sub-nav {
  color: white;
  width: 100%;
  height: 100px;
  padding: 40px 40px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub-nav .user-thumb {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

#sub-nav .user-thumb img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#sub-nav .fa-search {
  color: white;
}

nav {
  width: 100%;
  position: relative;
  height: 70px;
  left: -40px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

nav .navbar-toggler-icon {
  color: white;
}

nav .navbar-nav {
  margin-left: 150px;
}

@media (max-width: 991px) {
  nav .navbar-nav {
    background-color: white;
    z-index: 1000;
  }
}

@media (max-width: 991px) {
  nav .nav-item {
    padding: 10px 0px;
    text-align: center;
  }
}

nav .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}

@media (max-width: 991px) {
  nav .nav-link {
    color: black !important;
  }
}

nav .active {
  border-bottom: 5px solid #cc171e;
}

nav .dropdown-menu {
  background: white;
  border: none;
}

nav .dropdown-menu a {
  text-transform: none;
}

.above-fold-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.above-fold-content .page-title {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

@media (max-width: 1199px) {
  .above-fold-content .page-title {
    margin: 20px auto 10px auto;
  }
}

@media (min-width: 768px) {
  .above-fold-content .page-title {
    margin-top: 80px;
  }
}

.above-fold-content .page-title h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  position: relative;
}

@media (max-width: 479px) {
  .above-fold-content .page-title h1 {
    font-size: 5rem;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .above-fold-content .page-title h1 {
    font-size: 7rem;
  }
}

@media (min-width: 992px) {
  .above-fold-content .page-title h1 {
    font-size: 12rem;
  }
}

.above-fold-content .page-title .page-date {
  position: absolute;
  text-transform: uppercase;
  font-size: 0.7rem;
  top: 20px;
  left: 10px;
}

@media (min-width: 480px) and (max-width: 991px) {
  .above-fold-content .page-title .page-date {
    top: 110px;
    left: 180px;
  }
}

@media (max-width: 479px) {
  .above-fold-content .page-title .page-date {
    top: 80px;
    left: 0px;
  }
}

.above-fold-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  word-spacing: 0.3rem;
  padding-top: 60px;
}

.below-fold {
  background-color: #cc171e;
  color: white;
}

.below-fold a {
  color: white;
}

.below-fold h1 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  padding: 40px 0px 50px 0px;
  text-shadow: 1px 1px 0px black;
}

.below-fold .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .below-fold .row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card-transperant {
  max-width: 275px;
  min-width: 250px;
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .card-transperant {
    margin: 50px auto 20px auto;
    max-width: 500px;
    min-width: 250px;
  }
}

.card-transperant .plus-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 120px;
  right: 10px;
  background-color: #cc171e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.card-transperant img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 160px;
}

.card-transperant .card-body {
  padding: 10px 0px;
}

.blog-article {
  padding: 50px 0px 200px 0px;
  background: radial-gradient(circle, #11161d 0%, rgba(21, 26, 34, 0.0564601) 50%), linear-gradient(175deg, #11161d 0%, #11161d 10%, #151a22 54%, rgba(21, 26, 34, 0.154499) 100%), url("/img/book-stack-books-bookshop-264635.jpg");
  background-size: cover;
  background-position: -200px -50px, left 0px, center;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 0.77rem;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
}

.blog-article .side-tag-right {
  right: 0px;
  top: 50px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: grey;
}

.blog-article .side-tag-right::before {
  content: '';
  height: 5px;
  width: 30px;
  position: absolute;
  background-color: #cc171e;
}

.blog-article .blog-breadcrumbs {
  margin-top: 50px;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.blog-article .blog-breadcrumbs span {
  color: grey;
  padding: 0 10px;
}

.blog-article .blog-breadcrumbs a.root {
  color: #cc171e;
}

.blog-article .content-overview {
  padding-left: 0px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .blog-article .content-overview {
    margin: 0 auto;
    padding: 0px 2px 30px 0px;
  }
}

.blog-article .content-overview h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.blog-article .content-overview h2 {
  font-style: italic;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.8rem;
}

.blog-article .content-columns {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  padding-left: 60px;
  padding-right: 0px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .blog-article .content-columns {
    -webkit-column-count: 1;
            column-count: 1;
    padding-left: 60px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .blog-article .content-columns {
    padding-left: 0px;
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.blog-article::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: #11161d;
  width: 100%;
  height: 70px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-2deg) translate(0px, -115px);
          transform: skewY(-2deg) translate(0px, -115px);
}

.blog-cards {
  padding: 20px 0px 50px 0px;
  background-color: #f2f2f2;
  font-family: "Merriweather";
}

.blog-cards .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 992px) {
  .blog-cards .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .blog-cards .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.blog-cards .card-white {
  background-color: white;
  width: 32%;
  min-width: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .blog-cards .card-white {
    width: 32%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-cards .card-white {
    width: 48%;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .blog-cards .card-white {
    width: 90%;
    margin-bottom: 30px;
  }
}

.blog-cards .card-white p {
  font-size: 0.79rem;
  color: #697b83;
  line-height: 1.5rem;
}

.blog-cards .card-white h1 {
  color: #11161d;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.blog-cards .card-white .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}

.blog-cards .card-white .card-body {
  padding: 30px;
}

.blog-cards .card-white .card-meta {
  position: relative;
  border-top: 1px solid #f2f2f2;
  padding: 15px 30px;
  color: #cc171e;
  font-size: 0.8rem;
}

.blog-cards .card-white .card-meta a {
  color: #cc171e;
}

.blog-cards .card-white .card-meta a.read-more-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #cc171e;
  height: 100%;
  width: 50px;
  right: 0px;
  top: 0px;
  padding: 20px;
}

.blog-cards .card-white .card-meta a.read-more-arrow:hover {
  text-decoration: none;
}

.blog-cards::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: inherit;
  width: 100%;
  height: 80px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(2deg) translate(0px, -100px);
          transform: skewY(2deg) translate(0px, -100px);
}

.footer {
  background-color: #11161d;
  color: white;
}

@media (min-width: 992px) {
  .footer {
    padding: 40px 100px;
  }
  .footer .left, .footer .right {
    width: 50%;
  }
  .footer .left {
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 50px;
  }
}

.footer p {
  font-size: 0.8rem;
  line-height: 1.7rem;
  padding-bottom: 20px;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 20px;
}

@media (max-width: 991px) {
  .footer .social-media {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer .social-media {
    padding-right: 0px;
  }
}

.footer button.social {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #cc171e;
  color: white;
  margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer button.social {
    margin-right: 5px;
  }
}

.footer button.fa-instagram {
  font-size: 1.2rem;
}

.footer .sign-up p {
  padding-bottom: 0px;
}

.footer .sign-up input {
  padding: 10px 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.footer .sign-up input::-webkit-input-placeholder {
  color: #697b83;
  font-size: 0.8rem;
}

.footer .sign-up input:-ms-input-placeholder {
  color: #697b83;
  font-size: 0.8rem;
}

.footer .sign-up input::-ms-input-placeholder {
  color: #697b83;
  font-size: 0.8rem;
}

.footer .sign-up input::placeholder {
  color: #697b83;
  font-size: 0.8rem;
}

.footer .sign-up button {
  background-color: white;
  border: none;
  border-radius: 0px 5px 5px 0px;
  margin: 0px;
  height: 100%;
  position: relative;
  padding: 10px;
  left: -5px;
  color: #cc171e;
}
/*# sourceMappingURL=main.css.map */
